DJANGO_SECRET_KEY=cambia-esta-clave-por-una-segura
DB_PASSWORD=cambia-esta-contraseña
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=.colstyle.com,colstyle.com,66.23.224.249
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.colstyle.com,https://colstyle.com,https://66.23.224.249
DJANGO_SECURE_SSL_REDIRECT=True
RESEND_API_KEY=
RESEND_FROM_EMAIL=Barbería <reservas@mail.colstyle.com>
